<%- include('partials/header.ejs'); %>
    <h1><%= title %></h1>
    <a href="javascript:history.back()">Go Back</a>
    <br>
    <a href="/create-hero">Create A New Hero</a>
    <br>
    <a href="/squads">View Super Squads</a>
    <div class="heroes-list">
        <% for(let hero of heroes) { %>
            <div class="hero">
                <h2>Name: <%= hero.name %></h2>
                <h3>Origin: <%= hero.origin %></h3>
                <p><%= hero.description %></p>
                <ul>
                    <li>S: <%= hero.statistic.strength %></li>
                    <li>P: <%= hero.statistic.perception %></li>
                    <li>E: <%= hero.statistic.endurance %></li>
                    <li>C: <%= hero.statistic.charisma %></li>
                    <li>I: <%= hero.statistic.intelligence %></li>
                    <li>A: <%= hero.statistic.agility %></li>
                    <li>L: <%= hero.statistic.luck %></li>
                </ul>
                <%
                    let {strength:s, perception:p, endurance:e, charisma:c, intelligence:i, agility:a, luck:l} = hero.statistic;
                    let arr = [s, p, e, c, i, a, l];
                    let overall = arr.reduce((a, b) => a + b, 0);
                %>
                <h3>Overall: <%= overall %></h3>
                <form>
                    <input type="submit" class="link" value="Update" formaction="/update-hero/<%= hero.id %>" formmethod="get">
                    <input type="submit" class="link" value="Delete" formaction="/delete-hero/<%= hero.id %>" formmethod="post">
                </form>
            </div>
        <% } %>
    </div>
<%- include('partials/footer.ejs'); %>