<%- include('partials/header.ejs'); %>
    <h1><%= title %></h1>
    <a href="/create-hero">Create A New Hero</a>
    <div class="heroes-list">
        <% for(let i = 0; i < heroes.length; i++) { %>
            <div class="hero">
                <h2>Name: <%= heroes[i].name %></h2>
                <h3>Origin: <%= heroes[i].origin %></h3>
                <p><%= heroes[i].description %></p>
                <ul>
                    <li>S: <%= heroes[i].statistic.strength %></li>
                    <li>P: <%= heroes[i].statistic.perception %></li>
                    <li>E: <%= heroes[i].statistic.endurance %></li>
                    <li>C: <%= heroes[i].statistic.charisma %></li>
                    <li>I: <%= heroes[i].statistic.intelligence %></li>
                    <li>A: <%= heroes[i].statistic.agility %></li>
                    <li>L: <%= heroes[i].statistic.luck %></li>
                </ul>
                <%
                    let {strength:s, perception:p, endurance:e, charisma:c, intelligence:int, agility:a, luck:l} = heroes[i].statistic;
                    let arr = [s, p, e, c, int, a, l];
                    let overall = arr.reduce((a, b) => a + b, 0);
                %>
                <h3>Overall: <%= overall %></h3>
                <form>
                    <input type="submit" class="link" value="Update">
                    <input type="submit" class="link" value="Delete" formaction="/delete-hero/<%= heroes[i].id%>" formmethod="post">
                </form>
            </div>
        <% } %>
    </div>
<%- include('partials/footer.ejs'); %>