<%- include('partials/header.ejs'); %>
    <h1><%= title %></h1>
    <a href="javascript:history.back()">Go Back</a>
    <br>
    <a href="/create-hero">Create A New Hero</a>
    <br>
    <a href="/squads">View Super Squads</a>
    <div class="heroes-list">
        <% for(let hero of heroes) { %>
            <div class="hero">
                <div class="d-flex jc-sb flex-align">
                    <h2>Name: <%= hero.name %></h2>
                    <% if(hero.squad){ %>
                        <h4><%= hero.squad %></h4>
                    <% } %>
                </div>
                <ul>
                    <li>S: <%= hero.statistic.strength %></li>
                    <li>P: <%= hero.statistic.perception %></li>
                    <li>E: <%= hero.statistic.endurance %></li>
                    <li>C: <%= hero.statistic.charisma %></li>
                    <li>I: <%= hero.statistic.intelligence %></li>
                    <li>A: <%= hero.statistic.agility %></li>
                    <li>L: <%= hero.statistic.luck %></li>
                </ul>
                <h3>Overall: <%= hero.overall %></h3>
                <form>
                    <input type="submit" class="link" value="Update" formaction="/update-hero/<%= hero._id %>" formmethod="get">
                    <input type="submit" class="link" value="Delete" formaction="/delete-hero/<%= hero._id %>" formmethod="post">
                </form>
            </div>
        <% } %>
    </div>
<%- include('partials/footer.ejs'); %>