<% if(locals.hero) { %>
    <form action="/update-hero/<%= hero.id %>" method="post" autocomplete="off">
<% } else { %>
    <form action="/create-hero" method="post" autocomplete="off">
<% } %>

    <%
        if(locals.hero) {
            var n = hero.name;
            var d = hero.description;
            var o = hero.origin;
            var str = hero.stats.strength;
            var per = hero.stats.perception;
            var end = hero.stats.endurance;
            var cha = hero.stats.charisma;
            var int = hero.stats.intelligence;
            var agi = hero.stats.agility;
            var luc = hero.stats.luck;
        }
    %>


    <div class="d-flex jc-sb" style="width: 600px; align-items: center; ">
        <div class="input-group">
            <label>Name</label>
            <input type="text" name="name" required <% if(n) { %>value="<%= n %>" <% } %>>
        </div>

    </div>

    <div class="input-group">
        <label class="d-block">Description</label>
        <textarea name="desc" required rows="7" cols="110"><% if(d) { %><%= d %><% } %></textarea>
    </div>

    <div class="input-group">
        <label>Origin*</label>
        <input type="text" name="origin" <% if(o) { %>value="<%= o %>" <% } %>>
    </div>

    <div class="slider-group">
        <div class="input-group flex-align">
            <label for="">Strength</label>
            <input type="range" name="strength" min="0" max="100" <% if(n) { %>value="<%= str %>" <% } %>>
            <span class="amount"><%= str || 50 %></span>
        </div>

        <div class="input-group flex-align">
            <label for="">Perception</label>
            <input type="range" name="perception" min="0" max="100" <% if(n) { %>value="<%= per %>" <% } %>>
            <span class="amount"><%= per || 50 %></span>
        </div>

        <div class="input-group flex-align">
            <label for="">Endurance</label>
            <input type="range" name="endurance" min="0" max="100" <% if(n) { %>value="<%= end %>" <% } %>>
            <span class="amount"><%= end || 50 %></span>
        </div>

        <div class="input-group flex-align">
            <label for="">Charisma</label>
            <input type="range" name="charisma" min="0" max="100" <% if(n) { %>value="<%= cha %>" <% } %>>
            <span class="amount"><%= cha || 50 %></span>
        </div>

        <div class="input-group flex-align">
            <label for="">Intelligence</label>
            <input type="range" name="intelligence" min="0" max="100" <% if(n) { %>value="<%= int %>" <% } %>>
            <span class="amount"><%= int || 50 %></span>
        </div>

        <div class="input-group flex-align">
            <label for="">Agility</label>
            <input type="range" name="agility" min="0" max="100" <% if(n) { %>value="<%= agi %>" <% } %>>
            <span class="amount"><%= agi || 50 %></span>
        </div>

        <div class="input-group flex-align">
            <label for="">Luck</label>
            <input type="range" name="luck" min="0" max="100" <% if(n) { %>value="<%= luc %>" <% } %>>
            <span class="amount"><%= luc || 50 %></span>
        </div>
    </div>

    <% if(locals.hero) { %>
        <input type="submit" name="submit" value="Update Hero">
    <% } else { %>
        <input type="submit" name="submit" value="Create Hero">
    <% } %>

</form>

<script type="text/javascript">

    let sliders = document.querySelectorAll("input[type=range]");

    Array.from(sliders).forEach((elem) => {
        elem.addEventListener("input", () => {
            let value = elem.value;
            let parent = elem.parentElement;
            for(let i = 0; i < parent.childNodes.length; i++) {
                if(parent.childNodes[i].className == "amount") {
                    parent.childNodes[i].innerHTML = elem.value;
                    break;
                }
            }
        });
    });

</script>
